<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <title>{% block title %}SINTUF-MT{% endblock %}</title>
  {% block stylesheets %}
    {% stylesheets 
      'bundles/infocorpsintuf/css/style.css'
      'bundles/infocorpsintuf/css/bootstrap/bootstrap.min.css'
      'bundles/infocorpsintuf/css/bootstrap/bootstrap-responsive.css'
      'bundles/infocorpsintuf/css/normalize.css'
      filter='cssrewrite' 
    %}
      <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
  {% endblock %}

  {% block javascripts %}
    {% javascripts 
      'bundles/infocorpsintuf/js/bootstrap.min.js'
    %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
      <script src="{{ asset_url }}"></script>
      <script>
        !function ($) {
          $(function(){
            // carousel demo
            $('#myCarousel').carousel();
            $('#myCarouselParceiros').carousel();
          })
        }(window.jQuery)
      </script>
    {% endjavascripts %}
  {% endblock %}
</head>
<body>  
    {% block header %}
      <header>
        <div class="header_top">
          <div class="header_desc">
            <h1>Sindicato dos Trabalhadores Técnico-Administrativos em Educação da Universidade Federal de Mato Grosso</h1>
          </div>
          <div class="logo">
            <a href="{{ path('infocorp_sintuf_homepage') }}" title="SINTUF-MT" alt="SINTUF-MT"><img src="{{ asset('bundles/infocorpsintuf/images/logo1.png') }}" title="SINTUF-MT" alt="SINTUF-MT"></a>
          </div>
        </div>
        <div class="menu_sup">
          <ul>
            <li><a href="{{ path('infocorp_sintuf_homepage') }}">Home</a></li>
            <li><a href="#">Comunicação</a></li>
            <li><a href="#">Jurídico</a></li>
            <li><a href="#">Convênios</a></li>
            <li><a href="#">Sindical</a></li>
            <li><a href="{{ path('infocorp_sintuf_fale_conosco') }}">Contato</a></li>
          </ul>
        </div>
        <div class="back_slider">
          {{ render(url('infocorp_sintuf_slider')) }}
        </div>
      </header>
    {% endblock %}

    <div class="row-fluid">
    {% block content %}
    {% endblock %}
    </div>
    


   {% block rodape %}
      <div id="rodape"></div>
    {% endblock %}
</body>
</html>