<ul class="nav_tab_right">
  {% for item in news %}
    {% if loop.first %}
      <li>
        <a href="{{ path('infocorp_sintuf_noticia', {slug: item.slug}) }}">
          <strong>{{ item.title }}</strong>
        </a>
        <p>{{ item.abstract }}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<ul class="nav_tab_left">
  {% for item in news %}
    {% if not loop.first %}
      <li><a href="{{ path('infocorp_sintuf_noticia', {slug: item.slug}) }}">{{ item.title|slice(0, 35) }}</a></li>
    {% endif %}
  {% endfor %}
</ul>