{% extends 'InfocorpSintufBundle::layout.html.twig' %}
{% block content %}

<article>
 <h1 class="title-new">
  {{ news.title }}
</h1>

<div class="content-new">
  {{ news.content | raw }}
</div>	    
</article>

{# Comentários #}
<section class="comments">
  {# Renderiza formulario com ajuda dos helpers do symfony, referencia: http://symfony.com/doc/current/reference/forms/twig_reference.html #}
  {{ form_start(form, {'action': path('infocorp_news_add_comment', {id: news.id}), 'attr': {'class': 'form-horizontal'}}) }}
    {% if form %}
      {{ form_errors(form) }}
    {% endif %}

    {{ form_row(form.name) }}
      
    {{ form_row(form.email) }}

    {{ form_row(form.url) }}

    {{ form_row(form.message) }}

    {{ form_rest(form) }}
    <div class="form-actions">
      <input type="submit" value="Comente!" class="btn btn-large btn-primary">
    </div>
  {{ form_end(form, {'render_rest': false}) }}
</section>
{% endblock %}