{% extends 'InfocorpSintufBundle::layout.html.twig' %}
{% block content %}


<div class="back_slider">
          {{ render(url('infocorp_sintuf_slider')) }}

        </div>

{% block servicos %}
  <div id="utilities">
    <ul class="nav">
      <li class="nav_utilities"><a href="{{ path('infocorp_sintuf_homepage') }}" title="SINTUF-MT" alt="SINTUF-MT"><img src="{{ asset('bundles/infocorpsintuf/images/cadastro.png') }}" title="SINTUF-MT" alt="SINTUF-MT"></a></li>
      <li class="nav_utilities"><a href="{{ path('infocorp_sintuf_homepage') }}" title="SINTUF-MT" alt="SINTUF-MT"><img src="{{ asset('bundles/infocorpsintuf/images/downloads.png') }}" title="SINTUF-MT" alt="SINTUF-MT"></a></li>
      <li class="nav_utilities"><a href="{{ path('infocorp_sintuf_covenant_list') }}" title="SINTUF-MT" alt="SINTUF-MT"><img src="{{ asset('bundles/infocorpsintuf/images/convenios.png') }}" title="SINTUF-MT" alt="SINTUF-MT"></a></li>
      <li class="nav_utilities"><a href="{{ path('infocorp_sintuf_direction_list') }}" title="SINTUF-MT" alt="SINTUF-MT"><img src="{{ asset('bundles/infocorpsintuf/images/direcao.png') }}" title="SINTUF-MT" alt="SINTUF-MT"></a></li>
    </ul>
  </div>
{% endblock %}

{% block noticias %}
  <div id="news">
    <span>Notícias</span>
    <h3>Dolor rhoncus, amet in, turpis dapibus!</h3>
    <p class="destaque">Auctor augue adipiscing odio phasellus phasellus, rhoncus ut odio in? Montes parturient duis et, pulvinar? Enim nec tortor, nunc nunc! Elementum diam, nec cursus facilisis tristique est montes vut nunc, placerat</p>

    <ul class="news_block">
      <li class="content_news">
        <h3>Dolor rhoncus, amet in, turpis dapibus!</h3>
        <img src="{{ asset('bundles/infocorpsintuf/images/slide-01.jpg') }}" title="SINTUF-MT" alt="SINTUF-MT">
        <p>Auctor augue adipiscing odio phasellus phasellus, rhoncus ut odio in? Montes parturient duis et, pulvinar? Enim nec tortor, nunc nunc! Elementum diam, nec cursus facilisis tristique est montes vut nunc, placerat</p>
      </li>
      <li class="content_news">
        <h3>Dolor rhoncus, amet in, turpis dapibus!</h3>
        <img src="{{ asset('bundles/infocorpsintuf/images/slide-01.jpg') }}" title="SINTUF-MT" alt="SINTUF-MT">
        <p>Auctor augue adipiscing odio phasellus phasellus, rhoncus ut odio in? Montes parturient duis et, pulvinar? Enim nec tortor, nunc nunc! Elementum diam, nec cursus facilisis tristique est montes vut nunc, placerat</p>
      </li>
      <li class="content_news">
        <h3>Dolor rhoncus, amet in, turpis dapibus!</h3>
        <img src="{{ asset('bundles/infocorpsintuf/images/slide-01.jpg') }}" title="SINTUF-MT" alt="SINTUF-MT">
        <p>Auctor augue adipiscing odio phasellus phasellus, rhoncus ut odio in? Montes parturient duis et, pulvinar? Enim nec tortor, nunc nunc! Elementum diam, nec cursus facilisis tristique est montes vut nunc, placerat</p>
      </li>
      <li class="content_news">
        <h3>Dolor rhoncus, amet in, turpis dapibus!</h3>
        <img src="{{ asset('bundles/infocorpsintuf/images/slide-01.jpg') }}" title="SINTUF-MT" alt="SINTUF-MT">
        <p>Auctor augue adipiscing odio phasellus phasellus, rhoncus ut odio in? Montes parturient duis et, pulvinar? Enim nec tortor, nunc nunc! Elementum diam, nec cursus facilisis tristique est montes vut nunc, placerat</p>
      </li>
    </ul>

  </div>
{% endblock %}

     {% block media_social %}
      <div id="media_social">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FSintufMT&amp;width=292&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=289289821083335" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:590px;" allowTransparency="true"></iframe>
      </div>
    {% endblock %}

{% block parceiros %}
  
{% endblock %}

{% endblock %}